<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        .select span{
            display: inline-block;
            width: 40px;
            color: red;
            text-align: center;
        }
    </style>
</head>
<body ng-app="myApp">
<main ng-controller="demo">
    <section>
        <span>年:</span>
        <select ng-model="valueI" id="year" ng-change="yearChange()">
            <option value="">请选择</option>
            <option value='{{i}}' ng-repeat="i in years">{{i}}年</option>
        </select>
        <span>月:</span>
        <select ng-model="valueJ" id="month" ng-change="monthChange()">
            <option value="">请选择</option>
                <option value='{{j}}' ng-repeat="j in months">{{j}}月</option>
        </select>
        <span>天:</span>
        <select ng-model="valueK" id="day">
            <option value="">请选择</option>
            <option value='{{k}}' ng-repeat="k in days">{{k}}日</option>
        </select>
    </section>
    <p class="select">选择的日期是:<span>{{valueI}}</span>年<span>{{valueJ}}</span>月<span>{{valueK}}</span>日</p>
</main>
<script>
    var app=angular.module('myApp',[]);
    app.controller('demo', function ($scope) {
        //年
        var year=new Array();
        for(var i=1900;i<=2016;i++){
            year.unshift(i);
        }
        $scope.years=year;
        $scope.yearChange= function () {
            common();
        };
        //月
        var month=new Array();
        for(var i=1;i<=12;i++){
            month.push(i);
        }
        $scope.months=month;
        $scope.monthChange= function () {
            common();
        };
        //天
        function common(){
            var year0=document.getElementById('year');
            var month0=document.getElementById('month');
            // var day0=document.getElementById('day');
            var day=new Array();
            switch (parseInt(month0.value)){
                case 1:
                case 3:
                case 5:
                case 7:
                case 8:
                case 10:
                case 12:
                    console.log(month0.value);
                    for(var i=1;i<=31;i++){
                       if(i<10){
                           i='0'+ i.toString();
                       }
                        day.push(i);
                    }break;
                case 4:
                case 6:
                case 9:
                case 11:
                    for(var i=1;i<=30;i++){
                        if(i<10){
                            i='0'+ i.toString();
                        }
                        day.push(i);
                    }break;
                case 2:
                    if((year0.value%4==0&&year0.value%100!=0)||(year0.value%400==0)) {
                        for(var i=1;i<=29;i++){
                            if(i<10){
                                i='0'+ i.toString();
                            }
                            day.push(i);
                            console.log(year0.value);
                        }
                    }else {
                        for(var i=1;i<=28;i++){
                            if(i<10){
                                i='0'+ i.toString();
                            }
                            day.push(i);
                            console.log(year0.value);
                        }
                    }
                    break;
            }
            $scope.days=day;
        }
    })
</script>
</body>
</html>