<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一周内不用登录</title>
    <script src="../tools.js"></script>
    <style>
        .UIA {
            border: 1px solid red;
            padding: 10px 15px;
            width: 20%;
            text-align: center;
        }

        .UIB {
            width: 20%;
            padding: 10px 15px;
            border: 1px solid green;
        }

        .UIB span {
            display: inline-block;
            width: 100px;
            height: 22px;
        }

        input {
            padding: 3px 5px;
            margin: 5px 0;
        }
    </style>
    <script src="js/angular.js"></script>
    <script src="../tools.js"></script>
</head>
<body ng-app="myCookie" ng-controller="cookie">
<div class="UIA" ng-show="register">
    <input type="text" ng-model="username">
    <span style="color:red;font-size: 12px">{{tip}}</span><br>
    <input type="checkbox" id="choice" name="checked"
           ng-model="formData.checked"><label for="choice">一周内不用登录</label>
    <button  ng-click="submitBtn()">提交</button>
</div>
<div class="UIB" ng-hide="register">
    用户名:<span>{{logInName}}</span>
    <button ng-click="logOut()">注销</button>
</div>
<script>
    var d = new Date();
    d.setDate(d.getDate() + 7);
    var app = angular.module('myCookie', []);
    app.controller('cookie', function ($scope) {
        $scope.register = true;
        $scope.formData={checked:'false'};
        $scope.submitBtn = function () {
            var username=$scope.username;
            if(username==undefined||username==''){
                $scope.tip='用户名不为空';
                return false;
            }
           if($scope.formData.checked==true){
               t.setCookie('username', username, d);
           }else {
               t.setCookie('username', username);
           }
            if (t.getCookie('username')) {
                $scope.register = !$scope.register;
                $scope.logInName = t.getCookie('username');
            }
        }
        $scope.logOut = function () {
            t.unsetCookie('username');
            $scope.register = !$scope.register;
        }
        if (t.getCookie('username')) {
            $scope.register = !$scope.register;
            $scope.logInName = t.getCookie('username');
        }
    });

</script>
</body>
</html>